<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações Automáticas</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- CSS Personalizado -->
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>YOPA</h1>
        <h4>versão: 1.0.1</h4>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="files">Envie suas imagens:</label><br>
            <input type="file" id="files" name="files" multiple required><br><br>
        
            <label for="classes">Selecione as classes:</label><br>
            <div class="checkbox-container">
                <label><input type="checkbox" id="person" name="classes" value="person"> Person</label>
                <label><input type="checkbox" id="bicycle" name="classes" value="bicycle"> Bicycle</label>
                <label><input type="checkbox" id="car" name="classes" value="car"> Car</label>
                <label><input type="checkbox" id="motorcycle" name="classes" value="motorcycle"> Motorcycle</label>
                <label><input type="checkbox" id="airplane" name="classes" value="airplane"> Airplane</label>
                <label><input type="checkbox" id="bus" name="classes" value="bus"> Bus</label>
                <label><input type="checkbox" id="train" name="classes" value="train"> Train</label>
                <label><input type="checkbox" id="truck" name="classes" value="truck"> Truck</label>
                <label><input type="checkbox" id="boat" name="classes" value="boat"> Boat</label>
                <label><input type="checkbox" id="traffic_light" name="classes" value="traffic_light"> Traffic Light</label>
                <label><input type="checkbox" id="fire_hydrant" name="classes" value="fire_hydrant"> Fire Hydrant</label>
                <label><input type="checkbox" id="stop_sign" name="classes" value="stop_sign"> Stop Sign</label>
                <label><input type="checkbox" id="parking_meter" name="classes" value="parking_meter">Parking Meter</label>
                <label><input type="checkbox" id="bench" name="classes" value="bench"> Bench</label>
                <label><input type="checkbox" id="bird" name="classes" value="bird"> Bird</label>
                <label><input type="checkbox" id="cat" name="classes" value="cat"> Cat</label>
                <label><input type="checkbox" id="dog" name="classes" value="dog"> Dog</label>
                <label><input type="checkbox" id="horse" name="classes" value="horse"> Horse</label>
                <label><input type="checkbox" id="sheep" name="classes" value="sheep"> Sheep</label>
                <label><input type="checkbox" id="cow" name="classes" value="cow"> Cow</label>
                <label><input type="checkbox" id="elephant" name="classes" value="elephant"> Elephant</label>
                <label><input type="checkbox" id="bear" name="classes" value="bear"> Bear</label>
                <label><input type="checkbox" id="zebra" name="classes" value="zebra"> Zebra</label>
                <label><input type="checkbox" id="giraffe" name="classes" value="giraffe"> Giraffe</label>
                <label><input type="checkbox" id="backpack" name="classes" value="backpack"> Backpack</label>
                <label><input type="checkbox" id="umbrella" name="classes" value="umbrella"> Umbrella</label>
                <label><input type="checkbox" id="handbag" name="classes" value="handbag"> Handbag</label>
                <label><input type="checkbox" id="tie" name="classes" value="tie"> Tie</label>
                <label><input type="checkbox" id="suitcase" name="classes" value="suitcase"> Suitcase</label>
                <label><input type="checkbox" id="frisbee" name="classes" value="frisbee"> Frisbee</label>
                <label><input type="checkbox" id="skis" name="classes" value="skis"> Skis</label>
                <label><input type="checkbox" id="snowboard" name="classes" value="snowboard"> Snowboard</label>
                <label><input type="checkbox" id="sports_ball" name="classes" value="sports_ball"> Sports Ball</label>
                <label><input type="checkbox" id="kite" name="classes" value="kite"> Kite</label>
                <label><input type="checkbox" id="baseball_bat" name="classes" value="baseball_bat"> Baseball Bat</label>
                <label><input type="checkbox" id="baseball_glove" name="classes" value="baseball_glove"> Baseball Glove</label>
                <label><input type="checkbox" id="skateboard" name="classes" value="skateboard"> Skateboard</label>
                <label><input type="checkbox" id="surfboard" name="classes" value="surfboard"> Surfboard</label>
                <label><input type="checkbox" id="tennis_racket" name="classes" value="tennis_racket"> Tennis Racket</label>
                <label><input type="checkbox" id="bottle" name="classes" value="bottle"> Bottle</label>
                <label><input type="checkbox" id="wine_glass" name="classes" value="wine_glass"> Wine Glass</label>
                <label><input type="checkbox" id="cup" name="classes" value="cup"> Cup</label>
                <label><input type="checkbox" id="fork" name="classes" value="fork"> Fork</label>
                <label><input type="checkbox" id="knife" name="classes" value="knife"> Knife</label>
                <label><input type="checkbox" id="spoon" name="classes" value="spoon"> Spoon</label>
                <label><input type="checkbox" id="bowl" name="classes" value="bowl"> Bowl</label>
                <label><input type="checkbox" id="banana" name="classes" value="banana"> Banana</label>
                <label><input type="checkbox" id="apple" name="classes" value="apple"> Apple</label>
                <label><input type="checkbox" id="sandwich" name="classes" value="sandwich"> Sandwich</label>
                <label><input type="checkbox" id="orange" name="classes" value="orange"> Orange</label>
                <label><input type="checkbox" id="broccoli" name="classes" value="broccoli"> Broccoli</label>
                <label><input type="checkbox" id="carrot" name="classes" value="carrot"> Carrot</label>
                <label><input type="checkbox" id="hot_dog" name="classes" value="hot_dog"> Hot Dog</label>
                <label><input type="checkbox" id="pizza" name="classes" value="pizza"> Pizza</label>
                <label><input type="checkbox" id="donut" name="classes" value="donut"> Donut</label>
                <label><input type="checkbox" id="cake" name="classes" value="cake"> Cake</label>
                <label><input type="checkbox" id="chair" name="classes" value="chair"> Chair</label>
                <label><input type="checkbox" id="couch" name="classes" value="couch"> Couch</label>
                <label><input type="checkbox" id="potted_plant" name="classes" value="potted_plant"> Potted Plant</label>
                <label><input type="checkbox" id="bed" name="classes" value="bed"> Bed</label>
                <label><input type="checkbox" id="dining_table" name="classes" value="dining_table"> Dining Table</label>
                <label><input type="checkbox" id="toilet" name="classes" value="toilet"> Toilet</label>
                <label><input type="checkbox" id="tv" name="classes" value="tv"> TV</label>
                <label><input type="checkbox" id="laptop" name="classes" value="laptop"> Laptop</label>
                <label><input type="checkbox" id="mouse" name="classes" value="mouse"> Mouse</label>
                <label><input type="checkbox" id="remote" name="classes" value="remote"> Remote</label>
                <label><input type="checkbox" id="keyboard" name="classes" value="keyboard"> Keyboard</label>
                <label><input type="checkbox" id="cell_phone" name="classes" value="cell_phone"> Cell Phone</label>
                <label><input type="checkbox" id="microwave" name="classes" value="microwave"> Microwave</label>
                <label><input type="checkbox" id="oven" name="classes" value="oven"> Oven</label>
                <label><input type="checkbox" id="toaster" name="classes" value="toaster"> Toaster</label>
                <label><input type="checkbox" id="sink" name="classes" value="sink"> Sink</label>
                <label><input type="checkbox" id="refrigerator" name="classes" value="refrigerator"> Refrigerator</label>
                <label><input type="checkbox" id="book" name="classes" value="book"> Book</label>
                <label><input type="checkbox" id="clock" name="classes" value="clock"> Clock</label>
                <label><input type="checkbox" id="vase" name="classes" value="vase"> Vase</label>
                <label><input type="checkbox" id="scissors" name="classes" value="scissors"> Scissors</label>
                <label><input type="checkbox" id="teddy_bear" name="classes" value="teddy_bear"> Teddy Bear</label>
                <label><input type="checkbox" id="hair_drier" name="classes" value="hair_drier"> Hair Drier</label>
                <label><input type="checkbox" id="toothbrush" name="classes" value="toothbrush"> Toothbrush</label>
            </div>
            <br><br>
        
            <button type="submit">Iniciar Anotações</button>
        </form>

        <div class="export-section">
            <h2>Exportar Anotações</h2>
            <a href="/export_separate_jsons"><button>Exportar JSONs Separados</button></a>
            <a href="/export_consolidated_json"><button>Exportar JSON Consolidado</button></a>
        </div>

        <div class="cache-section">
            <h2>Limpar Cache</h2>
            <a href="/clear_cache"><button>Limpar Cache</button></a>
        </div>

        <div id="message">{{ message|safe }}</div>
        
        {% if labeled_image %}
            <h3>Imagens Anotadas</h3>
            <img src="data:image/png;base64,{{ labeled_image }}" alt="Imagens Anotadas">
        {% endif %}
    </div>

    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>